src/main/mule/objectStoreBatchProcessing/BatchProcessing02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="BatchProcessingFlow-POC01" doc:id="c251c546-82a0-4171-98cf-91d83eb58acf" >
		<http:listener doc:name="Listener01" doc:id="2f73c6a2-00b8-4c52-bb33-653fb41d5bc8" config-ref="HTTP_Listener_6061_learnmulesoft" path="/batchpro03" />
		<ee:transform doc:name="Array of 1 to 100" doc:id="f26f09b3-8b0c-4df1-ae77-40bd16bcdcff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
//It will create an array
1 to 100]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set beforeBatchJob as 100" doc:id="727e573b-543e-4d9b-a6ce-148733b724e5" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="beforeBatchJob" ><![CDATA[%dw 2.0
output application/json
---
100]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Payload" doc:id="f77b3169-283f-4b6d-9c77-1c95b07651b2" message="#['\n'] - My Payload is - #['\n'] - #[payload] and #['\n'] - The Mule homepath is - #['\n'] - #[mule.home]" />
		<batch:job jobName="Batch01" doc:id="08859ce0-f857-407e-abf9-a61395820a50" >
			<batch:process-records >
				<batch:step name="Batch01-Step01" doc:id="9f4702d1-8b4d-4cef-a109-a673b2f4b36d" acceptPolicy="ALL" acceptExpression="payload &gt; 10">
					<logger level="INFO" doc:name="Before Transformation - Batch Step 01" doc:id="47fb4fc8-eedb-4bd1-ad15-ddc7e19f4308" message="#['\n'] #['\n'] - Inside BatchStep01 - #['\n'] #['\n']- #[payload]" />
					<ee:transform doc:name="ChangeThe-PayloadValue" doc:id="2aba0878-1715-4078-a9d3-e9dbf4e66942" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.beforeBatchJob + payload]]></ee:set-payload>
						</ee:message>
						<ee:variables >
						</ee:variables>
					</ee:transform>
					<logger level="INFO" doc:name="After Transformation - Batch Step 01" doc:id="9ea3b31e-8f8b-4659-8937-98dc2d732d66" message="#['\n'] #['\n'] - After Transformation Inside BatchStep01 - #['\n'] #['\n']- #[payload]" />
					<batch:aggregator doc:name="Batch Aggregator - Step01" doc:id="a09fd40e-4d35-45b9-b4f7-9ce907741032" size="2">
						<logger level="INFO" doc:name="Inside Aggregator - Batch Step 01" doc:id="49c2a98c-0fe8-4544-83fb-b60fd451cec1" message="#['\n'] - Inside Aggregator BatchStep01 - #['\n'] - #[payload]" />
						<logger level="INFO" doc:name="Abstract Logger" doc:id="76757b1d-aedb-4ccb-a26b-cee1524b2d58" message="Abstract Logger"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch01-Step02" doc:id="64882fe8-bec4-406c-89eb-97c74cd66efd" acceptPolicy="ALL" acceptExpression="payload &gt;=1 and payload &lt;=10">
					<logger level="INFO" doc:name="Before Transformation - Batch Step 02" doc:id="b3e2f0dd-54df-454d-ae70-aa0780be46c0" message="#['\n'] #['\n'] - Inside BatchStep02 - #['\n'] #['\n']- #[payload]" />
					<ee:transform doc:name="ChangeThe-PayloadValue" doc:id="d529b8d6-a78f-4534-9add-92e9d75c92cc" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload / 3]]></ee:set-payload>
						</ee:message>
						<ee:variables />
					</ee:transform>
					<logger level="INFO" doc:name="After Transformation - Batch Step 02" doc:id="713a1a37-1d65-4251-91ce-d28ff3e8a677" message="#['\n'] #['\n'] - After Transformation Inside BatchStep02 - #['\n'] #['\n']- #[payload]" />
					<batch:aggregator doc:name="Batch Aggregator - Step02" doc:id="8cf4d934-f43d-4935-98c9-0340a36f318a" size="4">
						<ee:transform doc:name="Transform Message" doc:id="6074d87e-05f5-40a5-bce7-6d2a4986c058" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Inside Aggregator - Batch Step 02" doc:id="89a37870-b24e-49fe-96a2-df49843668bd" message="#['\n'] - Inside Aggregator BatchStep02 - #['\n'] - #[payload]" />
						<logger level="INFO" doc:name="Abstract Logger" doc:id="950d97c7-b566-4090-847b-f2fcdffb5576" message="Abstract Logger" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="OnComplete B01S01" doc:id="6f926651-c41b-4c31-a762-d8994656bb84" message="OnComplete | B01S01 - #['/n'] - #[payload]" />
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Print Payload - Outside BatchJob" doc:id="7a4e284f-6e90-4e4b-be20-6f9d147010a4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="BatchProcessing02-BlockSize" doc:id="b5a05211-535e-41dd-95d4-9dd5f1bbc24c" >
		<http:listener doc:name="Listener" doc:id="83d704d1-5f9f-4d20-bf06-083b5c0a9dc4" config-ref="HTTP_Listener_6061_learnmulesoft" path="/batchpro04"/>
		<ee:transform doc:name="Collection of records" doc:id="9895b10e-845d-4234-be54-a6a4d9e26d20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 2000]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="69923aee-0121-4b57-94a8-a22cad5a3332" message="My mule homepath is - #[mule.home]"/>
		<batch:job jobName="BatchJob04" doc:id="c4d9cc32-f1ea-4ac1-8c24-bedf80706b00">
			<batch:process-records >
				<batch:step name="Batch04-Step01" doc:id="c4dfb6bc-d30b-41bf-a1ab-9d3fcd778dd8" acceptPolicy="ALL">
					<logger level="INFO" doc:name="Logger - Batch04-Step01" doc:id="b7a71208-15ad-4ba7-9eb8-40c78de9bfc9" message="#['\n'] #['\n'] - In Batch04-Step01 Payload is : #[payload]" />
					<ee:transform doc:name="Add 15 To payload" doc:id="6cf0a666-6048-406e-b782-59c5175cea9b" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload + 15]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger - Batch04-Step01" doc:id="8a865bd4-f999-4d00-962f-fb8a0adbbe59" message="#['\n'] #['\n'] - After Transformation In Batch04-Step01 Payload is : #[payload]" />
				</batch:step>
				<batch:step name="Batch04-Step02" doc:id="727feac6-1965-4683-b15e-912c15b59058" acceptPolicy="ALL">
					<logger level="INFO" doc:name="Logger - Batch04-Step02" doc:id="d546751e-d970-4340-9df5-161771ada1fc" message="#['\n'] #['\n'] - In Batch04-Step02 Payload is : #[payload]" />
					<ee:transform doc:name="Divide 10 To payload" doc:id="61886632-157a-41e9-8ea6-a52a01e36e10" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload / 10]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Batch04-Step02" doc:id="09b8332b-da2c-42b4-a3e0-297241584c5f" message="#['\n'] #['\n'] - After Transformation In Batch04-Step02 Payload is : #[payload]" />
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
