target/classes/flowComponents/forEachParallelFoEach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="forEachPOC" doc:id="65e13d46-c8c6-463e-af5c-73091e67e7ce" >
		<http:listener doc:name="HTTP_Listener" doc:id="cf4ca8b3-2699-4534-8c82-55056a332333" config-ref="HTTP_Listener_6061_learnmulesoft" path="/foreach"/>
		<logger level="INFO" doc:name="Start Each" doc:id="dae5fbc0-8c4f-4d9d-83d1-58109269514f" message="Start Each"/>
		<set-payload doc:name="Array of values" doc:id="3593b20a-6591-43f0-ac4b-97435df571c1" value='#[25 to 30]'/>
		<foreach doc:name="For Each" doc:id="acb05aab-ae20-4249-9ebe-f76ba11b40d5" collection="#[payload]">
			<ee:transform doc:name="Add 2 in For each" doc:id="1192cb51-cb2e-40cf-8a7c-885c78f5fd24" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"addValue": payload + 2,
	"timeTaken": now()
	
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Print Payload" doc:id="70f81fc7-cbaa-49cb-bc6c-be55d6c0c603" message="#[payload]"/>
		</foreach>
		<ee:transform doc:name="Output after for each" doc:id="1ed08d3e-c09d-4b8f-8651-f1180111324e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"thePayload": payload,
	"timeTaken": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Print Payload" doc:id="533ca5eb-aea4-4fd4-98ac-c00a76caeec3" message="#[payload]"/>
	</flow>
	<flow name="ParallelForEach" doc:id="c8837d36-ef64-4176-851b-913eb9844271" >
		<http:listener doc:name="HTTP_Listener" doc:id="bf89b08b-719f-43a0-9446-18882e4a222a" config-ref="HTTP_Listener_6061_learnmulesoft" path="/paralleleach" />
		<logger level="INFO" doc:name="Start Foreach" doc:id="92fac4a0-9071-4cfb-9ee3-2a23e2ee8a6e" message="Start Foreach"/>
		<set-payload value='#[[25, 26, 27, 28]]' doc:name="25 to 30" doc:id="484b3f0e-5614-4b3c-8add-0b472099acea" />
		<parallel-foreach doc:name="Parallel For Each" doc:id="9623ce0f-d5bb-430b-80e6-2eb2776531ad" target="outputofForeach">
			<ee:transform doc:name="Add 2 in Parallel For each" doc:id="8ebd94bf-2a5f-4bbf-a288-dc6d8b90db4b" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload + 2]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="173ce9e1-aaa3-431b-96f7-9852c491b4b3" message="#[payload]"/>
		</parallel-foreach>
		<ee:transform doc:name="Output after Parallel for each" doc:id="b1510ad7-b2d6-4023-85f7-595cdac3bce2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.outputofForeach]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Foreach" doc:id="7dfafc1f-64e3-450b-b934-869cf7b4288d" message="End of for each"/>
	</flow>
</mule>
