target/META-INF/mule-src/learnmulesoft/src/main/mule/database/implementSCDB.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementSCDBFlow" doc:id="5edc22c5-241a-4af4-83bd-7968a723e120" >
		<http:listener doc:name="Listener" doc:id="2b2c3482-9a52-43ce-a01a-67ae8ec2ae02" config-ref="HTTP_Listener_6061_learnmulesoft" path="/implementdbsc"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="8b35beaa-63eb-4a10-8da7-c6d663105da0" message='#["Start time " ++ now() as String]' />
		<scatter-gather doc:name="Scatter-Gather" doc:id="8518eaab-f888-474b-a645-3ba58be98f66" >
			<route >
				<db:select doc:name="Select from OracleDB" doc:id="bb2a88bd-0679-4022-93f0-edc02d1c31d0" config-ref="MySQLServer_mulesoftUser">
					<db:sql ><![CDATA[SELECT * FROM "LEARNMULESOFT"."EMPLOYEEINFORMATION"]]></db:sql>
				</db:select>
				<logger level="INFO" doc:name="Logger for oracle" doc:id="dd0db449-9c35-4f31-98e5-6c3a6b8d87f5" message='#["Time for Oracle " ++ now() as String]'/>
			</route>
			<route >
				<db:select doc:name="Select from MYSQL DB" doc:id="74e9b9ea-2aa8-4919-b4e2-f33184908f98" config-ref="MySQLServer_mulesoftUser">
					<db:sql ><![CDATA[SELECT * FROM `learnmulesoft`.`studentinformation`]]></db:sql>
				</db:select>
				<logger level="INFO" doc:name="Logger for MySQL" doc:id="c07194ab-4209-4faf-ba98-135c4d85d7e1" message='#["Time for MySQL " ++ now() as String]' />
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="1de7885d-a9f4-4613-ae7e-8b2a89d283ba" message='#["End time " ++ now() as String]'/>
		<ee:transform doc:name="Transform Message" doc:id="736287b1-a20d-4f8b-b57d-29acc3aaaa8a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9a891218-690e-4ca8-90f4-db528f298f2e" type="DB:CONNECTIVITY">
				<ee:transform doc:name="Transform Message" doc:id="73887d86-9e6a-4b8d-ba21-bedd1d0068a9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": "Connectivity issue",
	"errorCode": 478
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="46a15c98-1e38-459e-b9ec-2b5e26a93adb" type="DB:BAD_SQL_SYNTAX, DB:QUERY_EXECUTION">
				<ee:transform doc:name="Transform Message" doc:id="71db8fb6-ee37-4ce7-a3e9-957f39f707ee" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": "Other Issues",
	"errorCode": 879 as Number
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d6b91841-79b4-466e-9479-c9b14b1b30f6" type="ANY" >
				<ee:transform doc:name="Transform Message" doc:id="84d816e3-7d01-4a2b-b7e5-165dbeabe4be" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": "all issues are handled here",
	"errorCode": 714
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
