target/classes/objectStoreBatchProcessing/waterMarking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="waterMarkingFlow-Automatic" doc:id="a82e16ca-f600-4c49-8b81-32baf4d3164d" >
		<db:listener doc:name="On Table Row - MysqlDatabase" doc:id="b2e64c39-d869-4d20-833a-c7dd556cc974" config-ref="MySQLServer_mulesoftUser" table="studentinformation" watermarkColumn="studentid" idColumn="studentid">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="6067b35b-6950-4fda-b126-0fca42bc65f7" message="watermarking: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="369cd223-ddbb-4c3f-a9e7-48fd9deb41cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4669f44b-ac10-4b54-b8e1-a3cfac550c63" message='#["\n"] -#[payload]'/>
	</flow>
	<flow name="waterMarkingFlow" doc:id="5462bd27-f4d3-4bc5-b32d-d16c5b6ad755" >
		<http:listener doc:name="Listener" doc:id="7988d892-8079-478e-be35-101c19ca54db" config-ref="HTTP_Listener_6061_learnmulesoft" path="/watermarking"/>
		<os:retrieve doc:name="Retrieve wMMysqlDBEmployeeInfo" doc:id="b3b82bcc-372a-4cbb-a219-a0f7984ebb08" key="wMMysqlDBEmployeeInfo" objectStore="module01ObjectStore-Persistent" target="outputofEMPID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select" doc:id="b56d0aa7-9a93-4b9d-953b-c07c93cee719" config-ref="MySQLServer_mulesoftUser">
			<db:sql ><![CDATA[SELECT * FROM employeeinformation 	WHERE EMPID > :EMPID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	EMPID: vars.outputofEMPID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b0b735b8-03bb-4944-8ac7-864ccb856b60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="556b78a3-040e-452c-bf6b-ea7183cfa751" message='#["\n"]- #[payload]'/>
		<os:store doc:name="Store" doc:id="0140672f-511c-49c6-9d56-7da342227940" key="wMMysqlDBEmployeeInfo" failOnNullValue="false" objectStore="module01ObjectStore-Persistent">
			<os:value ><![CDATA[#[max(payload map $.EMPID)]]]></os:value>
		</os:store>
	</flow>
</mule>
