target/META-INF/mule-src/learnmulesoft/src/main/mule/objectStoreBatchProcessing/objectStore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Invoke01-DefaultOS" doc:id="995275b0-e65b-487c-ae1d-33007e43f0c9" >
		<http:listener doc:name="objectstore01" doc:id="5f97fec3-495b-4e2d-81a0-c4bdce819091" config-ref="HTTP_Listener_6061_learnmulesoft" path="/objectstore01"/>
		<logger level="INFO" doc:name="-- Started OS --" doc:id="b656cec0-0acc-4374-9501-d2bcb963fc79" message="-- Started OS -- ['\n'] #[payload]" />
		<os:retrieve doc:name="RetrieveDefaultOS" doc:id="4fcce717-5162-4508-ade2-cd233ef8234a" key="holdValueDefault" >
			<os:default-value ><![CDATA[""]]></os:default-value>
		</os:retrieve>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"key1": "This is modified Payload for Key1 - Default OS"&#10;}]' doc:name="ModifyThePaylod" doc:id="18b2c8bb-f78b-4194-9636-431f14e467c0" />
		<os:store doc:name="StorePayload-Key1" doc:id="0c108e91-6f78-4428-ac67-e46557d62c4a" key="holdValueDefault" />
		<logger level="INFO" doc:name="-- Ended OS --" doc:id="f9fdc8fb-c776-4d8a-9597-394928f16cc7" message="-- Ended OS -- ['\n'] #[payload]" />
	</flow>
	<flow name="Invoke02-OS-NonDefault-DynamicKey" doc:id="4fde1365-c5ed-490c-885c-fd74649d664d" >
		<http:listener doc:name="objectstore02" doc:id="131eaccc-2cc7-4391-a622-620bc17e3f87" config-ref="HTTP_Listener_6061_learnmulesoft" path="/objectstore02" allowedMethods="GET"/>
		<logger level="INFO" doc:name="-- Started OS Persistent --" doc:id="346e91af-6bc9-4ba5-9eac-46f90692f7cf" message="-- Started OS Persistent -- ['\n'] #[payload]" />
		<set-variable value="#[attributes.queryParams.sendOSPD]" doc:name="Set Variable" doc:id="4b6405a4-fce6-43b1-b706-757fc39f00b1" variableName="saveQueryParamsOS"/>
		<os:retrieve doc:name="RetrieveNonDefaultOS" doc:id="7ba18b76-1a31-43c5-93a5-f5351497f302" key="#[vars.saveQueryParamsOS]" objectStore="module01ObjectStore-Persistent">
			<os:default-value><![CDATA[#[payload]]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="StorePayload-Key2" doc:id="0bc70d0f-0eef-4e2f-8277-e849c2e43e7c" objectStore="module01ObjectStore-Persistent" key="#[vars.saveQueryParamsOS]"/>
		<logger level="INFO" doc:name="-- Ended OS Persistent --" doc:id="8f4e648b-c74a-4364-9a67-c580f2946561" message="-- Ended OS Persistent -- ['\n'] #[payload]" />
		<ee:transform doc:name="Payload" doc:id="8b3d0081-73ef-4013-acc3-814dbea528ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="RetrieveAll" doc:id="214edcd6-1a61-4d79-bbe9-4a99a61b73f4">
		<http:listener doc:name="objectstore03" doc:id="5eb4d235-4fed-45b1-a368-1235ee891c05" config-ref="HTTP_Listener_6061_learnmulesoft" path="/objectstore03" />
		<os:retrieve-all doc:name="Retrieve - PersistentDetails" doc:id="5bc9b421-1193-4415-8b27-acf691011b33" objectStore="module01ObjectStore-Persistent" />
		<ee:transform doc:name="Transform Message" doc:id="ad9539d7-c3f5-484d-b1b7-a3871799e1ce">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="RetrieveAllKeys" doc:id="a7ec012c-b6dd-4bbf-852f-6bfaa7d3ea9c" >
		<http:listener doc:name="objectstore04" doc:id="d4eb10e7-9cef-44ef-97f4-a37410ba2703" config-ref="HTTP_Listener_6061_learnmulesoft" path="/objectstore04" />
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="cf19e28c-ace2-4a54-89d7-a6fb5fff619b" objectStore="module01ObjectStore-Persistent"/>
		<ee:transform doc:name="Transform Message" doc:id="b7b274d3-b2b3-4a57-86a9-b26223c9f0b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Contains" doc:id="cfd47546-688f-4ac2-b6d1-3b52e6d440a7" >
		<http:listener doc:name="objectstore05" doc:id="3249098a-6c1b-4842-8d9f-6fc8bdb21f5a" config-ref="HTTP_Listener_6061_learnmulesoft" path="/objectstore05" />
		<os:contains doc:name="Contains From Persistent" doc:id="ef7f1c6a-8fea-4b82-8ff2-e7152524221f" key="holdPersistentValueNonDefault5" objectStore="module01ObjectStore-Persistent" />
		<choice doc:name="Choice" doc:id="e1154b04-16e1-40b8-91d5-364b1e50a86f" >
			<when expression="#[payload == true]">
				<os:remove doc:name="Remove-holdPersistentValueNonDefault5" doc:id="324780b1-82bc-4957-b6d5-e18e754611ea" key="holdPersistentValueNonDefault5" objectStore="module01ObjectStore-Persistent"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="c036845a-621a-4357-b19e-8fc862078393" message="#[payload]" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="9df50fa3-c5bf-422f-bf08-039f7417e6bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="ClearAll" doc:id="f07d0a73-069f-476b-80f7-419f9833fff1" >
		<http:listener doc:name="objectstore06" doc:id="78e3a122-c776-46f4-b99a-e0cdf050e9f4" config-ref="HTTP_Listener_6061_learnmulesoft" path="/objectstore06" />
		<os:clear doc:name="Clear-All" doc:id="4fe7e3c2-37a8-41fc-99de-4fccbf02143d" objectStore="module01ObjectStore-Persistent"/>
		<ee:transform doc:name="Transform Message" doc:id="422ca119-b096-4101-bbfe-de014f1226b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
