target/classes/munit/munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="munitFlow" doc:id="86720614-903b-468b-a769-2164702d5129" >
		<http:listener doc:name="Listener" doc:id="cc4eb55b-4e7a-4267-b8a7-8e7b597bc961" config-ref="HTTP_Listener_6061_learnmulesoft" path="/munit"/>
		<ee:transform doc:name="Transform Message" doc:id="4b8e171f-3d84-4136-a78b-6b6cb2abf4c9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="params02" ><![CDATA[attributes.queryParams.Params02]]></ee:set-variable>
				<ee:set-variable variableName="parms01" ><![CDATA[attributes.queryParams.Params01]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="797d869f-db85-4c81-adff-af13c7a0245d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"AddValue": vars.parms01 as Number + vars.params02 as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="745c2c51-ea27-49d7-823d-60d8d090267d" message="munit-flow: #[payload]"/>
	</flow>
</mule>
