target/META-INF/mule-src/learnmulesoft/src/main/mule/httpPoc/invokeExternalHTTPs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="PublicAPI_ORG" doc:id="3cb5efa4-39b6-422a-8ed3-73ab479007dd" >
		<http:listener doc:name="Listener" doc:id="22133da2-34a7-4a24-b8f9-4e18854797d3" config-ref="HTTP_Listener_6061_learnmulesoft" path="/invokepublicapiorg"/>
		<http:request method="GET" doc:name="Invoke_PublicApis_Org" doc:id="c4555d6d-bd5f-4bcb-83e0-f5f14e218882" config-ref="HTTPS_PublicApiOrg" path="/entries"/>
		<ee:transform doc:name="Transform Message" doc:id="7abf935e-fa19-4a8d-802c-a5cc05152326" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="invokeExternalHTTPsFlow" doc:id="3d03094e-e350-4596-9259-e7229e7a4c3b" >
		<http:listener doc:name="AGIAGIFY" doc:id="f78ffd6c-6be0-4337-93fc-41698c746283" config-ref="HTTP_Listener_6061_learnmulesoft" path="/invokeapiagyf"/>
		<http:request method="GET" doc:name="Invoke-ExternalURL-APIAGFY" doc:id="6b385fdf-5c8f-490a-b279-77d0cea8013f" path="?" config-ref="HTTPS_ApiAgFy">
			<http:query-params ><![CDATA[#[{
	name : attributes.queryParams.qName
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Send in Payload" doc:id="be03421c-4cd9-4444-9f6c-5f5080f51449" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="DataUSA_IO" doc:id="bfd81a95-ad51-4ae6-9eec-0a3cd0ae0e02" >
		<http:listener doc:name="Listener" doc:id="035253f3-d3c8-40c4-832d-a47f0eee5f38" config-ref="HTTP_Listener_6061_learnmulesoft" path="/invokedatausaio"/>
		<http:request method="GET" doc:name="Invoke Data USA IO" doc:id="a53d2b57-45d6-4afd-8a86-483a507079ff" config-ref="HTTP_Request_DataUSA_IO" path="/data?">
			<http:query-params ><![CDATA[#[{
	drilldowns: attributes.queryParams.qDrills,
	measures: attributes.queryParams.qNation
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="5efb53bc-a591-4dd9-a12e-8c81722ee39f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="IpinfoHttpPoc" doc:id="266fb2dc-6eae-4cba-a658-63bbea62ed8e" >
		<http:listener doc:name="Listener" doc:id="4d5e94e4-4f19-4324-b45f-05ff63fec043" config-ref="HTTP_Listener_6061_learnmulesoft" path="/invokeipinfo/{passIPAddr}/{name}"/>
		<http:request method="GET" doc:name="Invoke IPInfo" doc:id="6c6b4b94-4948-4751-8abe-8ccae71ded2d" config-ref="HTTP_Request_IPInfo" path="/{value1}/{value2}">
			<http:uri-params ><![CDATA[#[{
	value1 : attributes.uriParams.passIPAddr,
	value2 : attributes.uriParams.name
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Payload" doc:id="f29856ac-1263-4e93-bbf7-cfc06e5d8aaa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
